@tailwind base;
@tailwind components;
@tailwind utilities;

/* small reset / background helper (optional) */
html,body,#__next { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
